.logo {
  display: inline-block;
}
.title {
  display: inline-block;
  font-size: 30px;
  margin: 0 0 0 35px;
}
.list {
  background: green;
  line-height: 25px;
}
.list li {
  list-style: none;
  display: inline-block;
  text-align: center;
}
.list li a {
  display: inline-block;
  width: 150px;
  text-decoration: none;
  border: 1px solid transparent;
  color: black;
}
.left {
  display: inline-block;
  width: 20%;
}
.right {
  vertical-align: top;
  display: inline-block;
  width: calc(80% - 4px);
}
footer {
  text-align: center;
  background: green;
}
